!!! Strict
%html{:xmlns => "http://www.w3.org/1999/xhtml", :lang => "en", :'xml:lang' => "en"}
  %head
    %meta{:'http-equiv' => "Content-Type", :content => "text/html; charset=utf-8"}
    %meta{:name => "lang", :content => "en"}
    %title
      Sample App
    = stylesheet_link_tag "clearfix", "compiled/master"
    = google_jquery :version => '1.3.2'
    = google_jqueryui :version => '1.7.1'
    = javascript_include_tag "more_actions"
  %body
    %p{:style => "color: green"}
      = flash[:notice]
    #wrap
      = yield